channels==3.0.5
channels-redis
Django==4.1.3
django-crispy-forms
djangorestframework
whitenoise==6.2.0
Pillow
django_auto_logout
django_session_timeout
dj-database-url
python-dotenv
agora_token_builder
pusher
gunicorn==20.1.0
daphne==3.0.2