channels
channels-redis
Django
django-crispy-forms
djangorestframework
whitenoise
Pillow
django_auto_logout
django_session_timeout
dj-database-url
python-dotenv
agora_token_builder
pusher
gunicorn==20.1.0
daphne