#channels
#channels-redis
Django
django-crispy-forms
djangorestframework
whitenoise
Pillow
django_auto_logout
django_session_timeout
dj-database-url
python-dotenv
agora_token_builder
pusher
#gunicorn==20.1.0
#daphne==3.0.2

channels==3.0.3
supervisor==4.2.2
channels-redis==3.2.0
gunicorn==20.0.4
daphne==3.0.1
